

<div class="animations">


<div class="row">
  <div class="cell">
    <div class="circle loader"></div>
    <p>loader</p>
  </div>
  <div class="cell">
    <div class="circle gelatine"></div>
    <p>gelatine</p>
    </div>
  </div>

  <div class="row">
    <div class="cell">
      <div class="circle spin"></div>
      <p>spin</p>
    </div>
    <div class="cell">
      <div class="circle elastic-spin"></div>
      <p>elastic spin</p>
  </div>

  <div class="cell">
    <div class="circle pulse"></div>
    <p>Pulse</p>
  </div>

  <div class="cell">
    <div class="circle bounce"></div>
    <p>Bounce</p>
  </div>

  <div class="cell">
    <div class="circle bounce2"></div>
    <p>Bounce 2</p>
  </div>

  <div class="cell">
    <div class="circle shake"></div>
    <p>Bounce 2</p>
  </div>

  <div class="cell">
    <div class="circle bounce-in-right"></div>
    <p>Bounce in Right</p>
  </div>


</div>

</div>
