<footer>
  <p><small>Hosted on GitHub Pages</small></p>
</footer>

<script defer src="{{ '/assets/js/sparkleHover.js' | prepend: site.baseurl }}"></script>
<script defer src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script defer src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script defer src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
<script defer src="{{ '/assets/js/fun-hover.js' | prepend: site.baseurl }}"></script>
