{%- if menu -%}
  <ul>
  {%- for item in menu -%}
    <li class="menu-item-"{{ forloop.index }}">
      <a href="{{ item.url }}" title="Go to {{ item.title }}">
        {%- if item.is_child -%}
        {%- else -%}
            <i class="fas fa-link"></i>
        {% endif %}
        {%- if item.skip_title -%}
        {%- else -%}
          {{ item.title }}
        {% endif %}
        {%- if item.icon -%}
          {{ item.icon }}
        {% endif %}
      </a>
      {%- if item.children -%}
        {% assign menu = item.children %}
        {%- include menus.html -%}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
