---
---


body {
  margin: 0;
  padding:0;
}

section#main{
  display:inline-block;
}

#particles-js {
  background:#1a222c;
  display:flex;
  vertical-align:bottom;
  min-height:50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed
}

#particles-js
  .headshot {
    margin-bottom: 2.5vh;
  }

  .headshot img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
  }


#particles-js
  .particles-js-canvas-el{
    height:100vh!important
    }
  .header{
    font-family:'Montserrat',
    sans-serif;
    z-index:1;
    text-align:center;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    margin:0 auto;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
  }
  .header .site-title{
    font-size:50px;
    display:block;
    line-height:1;
    color:#fff
  }
@media only screen and (min-width:768px){
  .header .site-title{
    margin:0;
    font-size:76px
    }
  }

.header .site-description{
  font-size:20px;
  display:block;
  line-height:1;
  color:#fff;
  margin-top:10px
}

@media only screen and (min-width:768px){
  .header .site-description{
    font-size:34px
  }
}

.header-links{
  margin:10px
}

.header-links
  .link{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    margin:10px
}

@media only screen and (min-width:768px){
  .header-links .link{
    font-size:20px
  }
}

.header-icons{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center
}

.header-icons a{
    border:none!important;
    padding:none;
    margin:none
  }
  .down,.header-icons .icon{
    color:#fff;
    text-align:center
  }
.header-icons .icon{
  height:20px;
  padding:10px;
  border-radius:50%;
  transition:all .5s;
  width:20px;
  font-size:20px;
  margin:5px;
  border:2px solid #fff
}
.header-icons .icon:active,.header-icons .icon:hover{
  color:#1a222c;
  background:#fff
}

@media only screen and (min-width:768px){
  .header-icons .icon{
    width:30px;
    height:30px;
    font-size:30px;
    line-height:30px
  }
}

.down{
  position:absolute;
  bottom:25px;
  width:100%;
  margin:0 auto;
  display:block;
  font-size:30px;
  line-height:30px;
  cursor:pointer;
  border:none!important;
}

.down .icon{
    position:absolute;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:100px;
    height:100px;
    fill:#fff;
    -webkit-animation:pulse 1.3s infinite;
    animation:pulse 1.3s infinite
}
.down .icon:active,.down .icon:hover,.footer a:active,.footer a:hover{
  color:#4b5664
}

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   padding-top: 1rem;
   margin: 0 5vw 0;
}
