---
---

@import "{{ site.theme }}";

:root {
  --obd-steel-blue: #285BB1;
  --obd-green: #00AE7A;
}


header {
  h1, h1 a {
   color: #285BB1;
  }
  p {
    color: #00AE7A;
  }
  p.view a {
    color: #285BB1;
  }
  p.view small {
    color: #ABC3EB;
  }
  nav {
    ul {
       list-style-type: none;
       padding-inline-start: 20px;
       margin-bottom: 0px;
       margin-block-end: 0px;
    }
  }
  nav > ul > li:not(:first-child) {
    padding-top: 10px;
  }
  nav li li > a {
    padding-top: 5px;
    padding-left: 2.0em;
  }
  nav > ul > li > a > i:first-of-type{
    padding-right: 0.5em;
    color: var(--obd-steel-blue);
  }
  nav > ul {
    margin-bottom: 20px !important;
  }

  nav > ul > ul {
    padding-inline-start: 20px !important;
  }

}


form#gform{
  ul {
     list-style: none;
  }
  li {
    margin-top: 1em;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    }
}

/* Nested bullet points should not have crazy margins */
ul ul { margin: 0 0 0; }


.column {
  float: left;
  width: 49%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0.5%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.regular {
  background-color: #BEF;;
}

.column.advanced {
  background-color: #FEEFB3;;
}
